body{
   background-color: floralwhite
}

.PkmnClass {float: right;}

div ul{height:450px; width:100%;}
div ul{overflow:hidden; overflow-y:scroll;}

.Pkmndatabtn {
   width: 500px
    
}

.PkmnTeam {
    width: 100%
}

.PkmnRanking {
    float: left;
}

.Pkmn1 {
    width: 33%
}



.PkmnTeamImg {
    height: 50px;
    width: 127px;
    margin: 15px 20px;
}

.Pkmn1Img {
    height: 60px;
    width: 70px;
}


.find() {
    text-align: center;
    
}

.MPkmn {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
.MPkmnIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px
}
