body {
    background-color: whitesmoke;
}

.logo{
    color: black
}

.Teambuilder { 
    float: left;
    width: 600px;
    height: 578px;
    border: 0px solid #73AD21;
    padding: 0px;
    overflow: scroll;
    background-color: transparent;
    text-align: left;
}

li a {
    padding: 5px 30px 5px 10px;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

a:link, a:visited{
    background-color: transparent;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:active {
    background-color: transparent;
}

a:hover {
    background-color: lightgray;
}

.PkmnIcon {
    height: "20px";
    width: "60px";
}
    
.PkmnRanking {
    font-family: sans-serif;
    text-align: left
}

.PkmnClass {
    font-family: sans-serif;
    white-space: nowrap;
}

.PkmnName {
    font-family: sans-serif
}
